pip install torch==1.9.0+cu102 torchvision==0.10.0+cu102 torchaudio==0.9.0 -f https://download.pytorch.org/whl/torch_stable.html
MinAtar==1.0.11
gym==0.19.0
ruamel.yaml==0.17.21
tensorflow==2.10.0
tensorflow-probability==0.18.0
crafter==1.8.0
numba==0.55.1
opensimplex==0.4.3
numpy==1.23.4